.movie-listing {
  border: 2px solid blueviolet;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  background-image: linear-gradient(to bottom right, #f7f591, #c2c038);
  box-shadow: 5px 5px rgba(10, 20, 30, 0.3);
}
.movie-listing p {
  font-size: 12px;
}
.movie-listing p span {
  font-weight: bold;
}

.movie-listing h3 {
  text-decoration: underline;
  color: blueviolet;
}

.movie-listing hr {
  width: 100%;
}
