.movie {
  border: 1px solid var(--primary);
  border-radius: 3px;
  color: var(--gray);
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 10px 25px;
}

.movie a {
  border-bottom: 1px solid var(--primary);
  color: var(--primary);
  text-decoration: none;
}

.movie .title {
  text-decoration: none;
  font-variant: small-caps;
  margin-bottom: 0;
}

.movie .description {
  font-size: 14px;
}

.movie .details {
  border-top: 1px solid var(--primary);
  padding-top: 10px;
}

.movie .details p {
  font-size: 12px;
  margin: 0 0 5px;
}

.movie .details span {
  font-weight: bold;
}
